*.class
bin/
.gradle/
build/
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
out/
.DS_Store
Thumbs.db
target/
.vscode/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*