body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#banner {
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    /* Centrado horizontal del grupo */
    align-items: center;
    /* Centrado vertical */
    gap: 40px;
    /* Distancia entre el Logo y el Menú */
    height: 70px;
    
}

#logo {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Pone los items del menú en línea */
}

ul li {
    margin: 0 10px;
    /* Espacio entre cada opción del menú */
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #34495e;
}

h1,
p {
    text-align: center;
}

h1 {
    margin-top: 50px;
}