body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0%;
}

#logo{
    font-weight: bold;
}

#banner{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    
    
}
ul{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-weight: bolder;
    text-align: center;

}

p{
    text-align: center;
}

ul li:hover{
    background-color: grey;
}