/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
    line-height: 1.6;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 { color: #d35400; }

hr {
    opacity: 20%;
    margin: 0 20px 30px;
}

/* Ejercicio 4: Galería */
.thumbnail {
    width: 80px;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid transparent;
}
.thumbnail:hover { border-color: orange; }
#imgPrincipal {
    width: 400px;
    margin-top: 15px;
    display: block;
    border: 5px solid #333;
}

/* Ejercicio 5: Clases dinámicas */
.caja-base {
    width: 150px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border: 1px solid black;
}

.rojo { background-color: red; color: white; }
.azul { background-color: blue; color: white; }
.grande { width: 300px; height: 150px; font-size: 24px; }

/* Ejercicio 6: Contador con estilos dinámicos */
#contendoridE6 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    align-items: center;
    
}
.contenedorE6 {
    align-items: center;
    background-color: rgb(209, 204, 195);
    display: flex;
    justify-content: center;
}
.botonE6{
    padding: 10px 50px;
}
#contador{
    width: 150px;
    
}
#contendoridE6 > div{
    flex-direction: row-reverse;
    display: flex;
    gap: 20px;
}

/* Ejercicio 7: Formulario con validación */